
@{
    ViewData["Title"] = "AddAnswer";
}

<h1>Add Answer</h1>

<form method="post" action="/focdev">
    Username: <input type="text" name="username" /> <br />
    Detail: <input type="text" name="detail" /> <br />
    Question ID: <input type="text" name="questionID" /> <br />
    Date Posted: <input type="date" name=" posted" /><br />

</form>